<mat-toolbar class="mat-elevation-z8">
  <img class="logo" src="/assets/car.png" />

  <a>
    <button
      mat-icon-button
      style="color: #0c88ed; padding-left: 20%"
      (click)="toggleSideNav()"
      aria-label="Go to menu button"
      [disabled]="!this.authService.isLoggedIn"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </a>

  <a routerLink="/">
    <button
      mat-icon-button
      style="color: #0c88ed"
      aria-label="Go to main page button"
      [disabled]="!this.authService.isLoggedIn"
    >
      <mat-icon>home</mat-icon>
    </button>
  </a>

  Car App
  <span></span>
  <span class="example-spacer"></span>

  <span style="font-size: 70%"> {{ getUsername() }} </span>

  <span></span>
  <button
    mat-icon-button
    class="example-icon"
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with account_circle icon"
  >
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button
      style="font-size: 120%"
      mat-menu-item
      (click)="test()"
      *ngIf="this.authService.isLoggedIn"
    >
      <mat-icon style="color: #0c88ed">account_box</mat-icon>
      <span>Profile</span>
    </button>
    <button style="font-size: 120%" mat-menu-item (click)="logout()">
      <mat-icon style="color: #0c88ed">{{
        this.authService.isLoggedIn ? "exit_to_app" : "login"
      }}</mat-icon>
      <span>{{ this.authService.isLoggedIn ? "Logout" : "Login" }}</span>
    </button>
  </mat-menu>
</mat-toolbar>
<app-side-navbar></app-side-navbar>
