<main>
    
    <section class="hero">
      <div class="hero-content">
        <h1>Welcome to Car Website</h1>
        <p>Find your dream car here.</p>
      </div>
    </section>
  
    <!-- Features section -->
    <section class="features">
      <div class="feature" style="cursor: pointer" (click)="filterHide()" routerLink="/car-list">
        <h2 >Wide selection</h2>
        <p class="extra-text">Choose from a wide range of cars.</p>
      </div>

      <div class="feature-middle" style="cursor: pointer" (click)="filterShow()" routerLink="/car-list" >
        <h2 >Advanced search</h2>
        <p class="extra-text">Use our advanced search to find your perfect car.</p>
      </div>

      <div class="feature" style="cursor: pointer" (click)="addCar()">
        <h2 >Add cars</h2>
        <p class="extra-text">Add all the cars you want.</p>
      </div>
    </section>
  </main>