<main>
    
    <section class="hero">
      <div class="hero-content">
        <h1>Welcome to Car Website</h1>
        <p>Find your dream car here.</p>
        <a routerLink="/car-list" class="btn">Browse cars</a>
      </div>
    </section>
  
    <!-- Features section -->
    <section class="features">
      <div class="feature">
        <h2 style="cursor: pointer" onclick="wide_selection()">Wide Selection</h2>
        <p>Choose from a wide range of cars.</p>
      </div>
      <div class="feature">
        <h2 style="cursor: pointer" onclick="advanced_search()">Advanced Search</h2>
        <p>Use our advanced search to find your perfect car.</p>
      </div>
      <div class="feature">
        <h2 style="cursor: pointer" onclick="add_cars()">Add cars</h2>
        <p>Add all the cars you want.</p>
      </div>
    </section>
  </main>