/* home-main.component.css */
main {
    padding: 40px 20px;
    text-align: center;
  }
  
  .hero {
    background-image: url(/assets/background-main.jpg);
    background-size: contain;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  
  .hero-content {
    color: #000000;
    background-color: rgba(155, 155, 155, 0.65);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 15px;
  }
  
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .btn {
    background-color: #3f51b5; 
    color: #fff;
    padding: 12px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #3f51b5; 
  }
  
  .features {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .feature {
    flex: 1;
    padding: 20px;
  }
  
  .feature i {
    font-size: 48px;
    margin-bottom: 10px;
    color: #3f51b5; /* Primary color accent */
  }
  