body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.matformsfilterlist {
    display: flex;
    justify-content: space-between;
}

.matformsfilterlist#buttons {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

