<form class="login-form">
  <h5 class="login-header">Login</h5>
  <mat-form-field class="email-field" appearance="fill">
    <mat-label>Username</mat-label>
    <input
      matInput
      placeholder="Enter your username"
      name="Username"
      [(ngModel)]="username"
    />
  </mat-form-field>
  <mat-form-field class="password-field" appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      placeholder="Enter your password"
      value=""
      name="password"
      type="password"
      [(ngModel)]="password"
    />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    matTooltip="Login to your account"
    (click)="submit()"
  >
    Login
  </button>
</form>
