table {
    width: 100%;
    margin-top: 2%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}


.table-filter {
    width: 100%;
}

th, td {
    width: 16.6%;
    text-align: center;
    justify-content:flex-end;
}

::ng-deep .mat-sort-header-container {
    justify-content: center;
}

::ng-deep .mat-sort-header-arrow {
    color: white;
}

th {
    background-color: #3f51b5;
    font-size: 16px;
    text-transform: capitalize;
    color: white;
}

.filterBox {
    margin-top: 2%;
    margin-bottom: 2%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.matformsfilterlist {
    display: flex;
    justify-content: space-between;
}

.matformsfilterlist#buttons {
    display: flex;
    gap: 2%;
    justify-content: flex-end;
}

.carListTitle {
    text-align: center;
}

.carFilter {
    padding-bottom: 2%;
}

.generalFilter {
    padding-left: 2%;
    padding-right: 2%;

}

.tableFilterHeader {
    padding-left: 1%;
    background-color: #3f51b5;
    color: white;
    display: flex;
    justify-content: space-between;
    min-height: 55px;
    align-items: center;

    font-weight: 500;
    font-size: 16px;
}

.addCar {
    padding-left: 1%;
    background-color: #3f51b5;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    min-height: 55px;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}

.expandable-buttons {
    display: inline-block; 
    cursor: pointer; 
    padding-left: 1%;
    padding-right: 1%;
}

.custom-filter {
    padding-left: 2%;
    padding-right: 2%;
}