table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}


.table-filter {
    width: 100%;
}

th, td {
    width: 16.6%;
    text-align: center;
    justify-content:flex-end;
}

::ng-deep .mat-sort-header-container {
    justify-content: center;
}

::ng-deep .mat-sort-header-arrow {
    color: white;
}

th {
    background-color: #3f51b5;
    font-size: 16px;
    text-transform: capitalize;
    color: white;
}

.filterBox {
    margin-top: 2%;
    margin-bottom: 2%;
}
