<h3 class="carListTitle">
    Car List
</h3>

<div class="addCar mat-elevation-z8 customFilter">
    <div>Add car: </div>
    <div style="padding-right:1%; cursor: pointer" (click)="addCar()"> + </div>
</div>

<div class="tableFilterHeader mat-elevation-z8 customFilter">
    <div>Filter cars: </div>
    <div style="display: flex;">
        <div style="display: inline-block; cursor: pointer" (click)="maximizeFilterMenu()"> + </div>
        <div style="display: inline-block; cursor: pointer; padding-left: 1%; padding-right: 10%;" (click)="minimizeFilterMenu()"> - </div>
    </div>
</div>

<div *ngIf="isFilterShown" class="carFilter">
    <div class="mat-elevation-z8">
        <div class="customFilter">
            <div class="matformsfilterlist">
                <mat-form-field>
                    <mat-label>Brands</mat-label>
                    <mat-select [formControl]="brands">
                        <mat-option *ngFor="let brand of brandList" [value]="brand">{{brand}}</mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <mat-select [formControl]="categories">
                        <mat-option *ngFor="let category of categoryList" [value]="category">{{category}}</mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field>
                    <mat-label>Model</mat-label>
                    <mat-select [formControl]="models">
                        <mat-option *ngFor="let model of modelList" [value]="model">{{model}}</mat-option>
                    </mat-select>
                </mat-form-field>


                <mat-form-field>
                    <mat-label>Year</mat-label>
                    <mat-select [formControl]="years">
                        <mat-option *ngFor="let year of yearList" [value]="year">{{year}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="matformsfilterlist" id="buttons">
                <button mat-raised-button color="primary" (click)="applyAdvancedFilter()">Filter</button>
                <button mat-raised-button color="primary" (click)="clearFilter()">Clear</button>
            </div>
        </div>

        <div class="generalFilter">
            <mat-form-field class="table-filter filterBox">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Dacia" #input>
            </mat-form-field>
        </div>
    </div>
</div>

<div class="mat-elevation-z8 table-filter">
    <table mat-table [dataSource]="carList" matSort>

        <!-- Brand Column -->
        <ng-container matColumnDef="brand">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
            <td mat-cell *matCellDef="let row"> {{row.brand}} </td>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
            <td mat-cell *matCellDef="let row"> {{row.category}} </td>
        </ng-container>

        <!-- Model Column -->
        <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
            <td mat-cell *matCellDef="let row"> {{row.model}} </td>
        </ng-container>

        <!-- Year Column -->
        <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Year </th>
            <td mat-cell *matCellDef="let row"> {{row.year}} </td>
        </ng-container>

        <ng-container matColumnDef="action_delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header colspan="2"> Action </th>
            <td mat-cell *matCellDef="let row">
                <button title="Delete car" mat-icon-button color="primary" aria-label="Example icon button with a delete icon"
                    (click)="deleteCar(row.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="action_edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header hidden> </th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button title="Edit car details" color="primary" aria-label="Example icon button with a menu icon"
                    (click)="viewCarDetails(row)">
                    <mat-icon>menu</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5">No data matching the filter.</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>