/* add-edit-modal.component.css */
.form-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2%; /* Space between columns */
    padding: 2%;
  }
  
  .form-container mat-form-field {
    flex-basis: calc(50% - 1%); /* Adjust the width of each input to create space between columns */
    margin-bottom: 2%; /* Add space between rows */
  }

  .add-edit-modal{
    /*max-width: 35vw;*/
    margin-left: auto;
    margin-right: auto;

  }

  .dialog-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c88ed;  

  }

  .edit-modal-title{
    display: flex;
    justify-content: center;
    padding: 2%;
    color: white;
    margin: 0;
    margin-left: auto;
  }

  .key-value-pair{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    padding: 2%;
    width: 100%;

  }
  .key{
    display: inline-block;
    text-transform: lowercase ;
    font-weight: 450;
    flex: 1;
    text-align: left;
    width: 50%;
  }
  .key::first-letter {
    text-transform: uppercase;
  }

  .value{
    flex: 1;
    width: 50%;
    text-align: left;
  }

  .divider {
    margin: 0 0;
  }


  .list-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 8%;
    padding-left: 30%;
    padding-right: 30%;
    overflow: hidden;
  }
  
  .confirm-cancel-btn {
    padding-bottom: 3%;
    padding-left: 3%;
  }

  .custom-container .mat-dialog-container {
    padding: 0;
    overflow: hidden;
    width: 700px;
   }
  
  /* Media query for larger screens */
  @media screen and (min-width: 2000px) {
    .form-container mat-form-field {
      flex-basis: calc(33.33% - 2%); /* Adjust the width of each input to show three columns */
    }
  }
